.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.row > .column {
  padding: 0 10px;
}

.row-large {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin: -20px -8px;
}
.row-large > .column {
  padding: 20px 8px;
}
